* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: 'Epilogue', sans-serif;
    background-color: #FDF0E9;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
